23/10/2025ApMXCI1xCINX0BN0.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Resume_url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resume_url": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-22T13:32:55.730Z",
  "id": "ApMXCI1xCINX0BN0",
  "isArchived": false,
  "meta": null,
  "name": "Mfa-demo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mfa",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        576,
        176
      ],
      "id": "548523de-df95-4b0e-b877-117787cc6eb4",
      "name": "Webhook",
      "webhookId": "ac34c155-477b-4923-98e8-ec856439901e"
    },
    {
      "parameters": {
        "resume": "webhook",
        "httpMethod": "POST",
        "limitWaitTime": true,
        "resumeAmount": 5,
        "resumeUnit": "minutes",
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1216,
        176
      ],
      "id": "ac69c9da-b49e-4076-acd4-a1b61d994aea",
      "name": "Wait",
      "webhookId": "009b86ac-4199-451c-819f-731544d12abb"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $('Wait').item.json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1440,
        176
      ],
      "id": "5d2d2789-4cef-458f-bc51-e22d6756d788",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "\nreturn [\n  {\n    json: {\n      resumeUrl : $execution.resumeUrl\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        176
      ],
      "id": "4af54a67-65bb-4f76-950c-dcc70d637715",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.2.76.5:8001/api/save-resume-url",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"session_id\":\"{{ $('Webhook').item.json.body.session_id}}\",\n\"resume_url\":\"{{ $('Code in JavaScript').item.json.resumeUrl.replace(\"http://localhost\", \"http://host.docker.internal\") }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1008,
        176
      ],
      "id": "31c841ed-d2b1-48dc-a219-98eb7bb1ffe8",
      "name": "Resume_url"
    }
  ],
  "pinData": {},
  "repo_name": "n8n-backups",
  "repo_owner": "Saloni-Wissen",
  "repo_path": "/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-22T13:32:55.730Z",
      "updatedAt": "2025-10-22T13:32:55.730Z",
      "role": "workflow:owner",
      "workflowId": "ApMXCI1xCINX0BN0",
      "projectId": "7loRaf8YeINnKgtz"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-22T13:48:23.527Z",
  "versionId": "36b45d03-8428-4e0f-ac5c-7adb7547bbd4"
}