2025-10-31/ApMXCI1xCINX0BN0.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert or update rows in a table": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-22T13:32:55.730Z",
  "id": "ApMXCI1xCINX0BN0",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Mfa-demo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mfa",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        576,
        176
      ],
      "id": "548523de-df95-4b0e-b877-117787cc6eb4",
      "name": "Webhook",
      "webhookId": "ac34c155-477b-4923-98e8-ec856439901e"
    },
    {
      "parameters": {
        "resume": "webhook",
        "httpMethod": "POST",
        "limitWaitTime": true,
        "resumeAmount": 18,
        "resumeUnit": "minutes",
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1248,
        176
      ],
      "id": "ac69c9da-b49e-4076-acd4-a1b61d994aea",
      "name": "Wait",
      "webhookId": "009b86ac-4199-451c-819f-731544d12abb"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $('Wait').item.json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1440,
        176
      ],
      "id": "5d2d2789-4cef-458f-bc51-e22d6756d788",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "\nreturn [\n  {\n    json: {\n      resumeUrl : $execution.resumeUrl\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        176
      ],
      "id": "4af54a67-65bb-4f76-950c-dcc70d637715",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "iks_schema_dev",
          "mode": "list",
          "cachedResultName": "iks_schema_dev"
        },
        "table": {
          "__rl": true,
          "value": "prior_auth_hitl_tasks",
          "mode": "list",
          "cachedResultName": "prior_auth_hitl_tasks"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "=",
            "resume_url": "={{ $('Code in JavaScript').item.json.resumeUrl }}",
            "task_type": "mfa-pending",
            "case_ref_id": "={{ $('Webhook').item.json.body.case_ref_id }}",
            "created_at": "={{ $today }}"
          },
          "matchingColumns": [
            "case_ref_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "case_ref_id",
              "displayName": "case_ref_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "resume_url",
              "displayName": "resume_url",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "task_type",
              "displayName": "task_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "task_status",
              "displayName": "task_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "expires_at",
              "displayName": "expires_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1008,
        176
      ],
      "id": "4243a462-a27a-4e59-8588-5d240788dca5",
      "name": "Insert or update rows in a table",
      "credentials": {
        "postgres": {
          "id": "bV9Rknmgj3x2PKaZ",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "n8n-backups",
  "repo_owner": "Saloni-Wissen",
  "repo_path": "2025-10-31/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-22T13:32:55.730Z",
      "updatedAt": "2025-10-22T13:32:55.730Z",
      "role": "workflow:owner",
      "workflowId": "ApMXCI1xCINX0BN0",
      "projectId": "7loRaf8YeINnKgtz"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-31T12:05:28.725Z",
  "versionId": "fd78e2e6-6d11-4119-bbc7-046ecbdfc639"
}