2025/10/qYWOtuDtyrAqjjoI
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-22T13:33:18.994Z",
  "id": "qYWOtuDtyrAqjjoI",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Completed-demo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "completed",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "95510da7-d59c-4196-9ed3-8d0528deba7a",
      "name": "Webhook",
      "webhookId": "e7cf6567-abf9-467e-abb7-4acefec709f6"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=http://10.2.76.5:8080/api/v1/sessions/{{$('Webhook').item.json.body.session_id}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "id": "5bbbc538-7a19-4bef-919f-a6060953421a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "iks_schema_dev",
          "mode": "list",
          "cachedResultName": "iks_schema_dev"
        },
        "table": {
          "__rl": true,
          "value": "prior_auth_case_request",
          "mode": "list",
          "cachedResultName": "prior_auth_case_request"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "approved",
            "id": "={{ $('Webhook').item.json.body.case_ref_id }}",
            "sequence_no": 0,
            "total_count": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "batch_id",
              "displayName": "batch_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "case_id",
              "displayName": "case_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "request_id",
              "displayName": "request_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "provider_id",
              "displayName": "provider_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "payer_id",
              "displayName": "payer_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reference_number",
              "displayName": "reference_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "appointment_id",
              "displayName": "appointment_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "person_number",
              "displayName": "person_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "patient_name",
              "displayName": "patient_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "patient_dob",
              "displayName": "patient_dob",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date_of_service",
              "displayName": "date_of_service",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "visit_reason",
              "displayName": "visit_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "speciality",
              "displayName": "speciality",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sequence_no",
              "displayName": "sequence_no",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "total_count",
              "displayName": "total_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "vendor",
              "displayName": "vendor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hitl_status",
              "displayName": "hitl_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        416,
        0
      ],
      "id": "972667e1-a34c-4f50-ba12-19fb211f139e",
      "name": "Update rows in a table",
      "credentials": {
        "postgres": {
          "id": "bV9Rknmgj3x2PKaZ",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "n8n-backups",
  "repo_owner": "Saloni-Wissen",
  "repo_path": "/2025-10-23",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-22T13:33:18.994Z",
      "updatedAt": "2025-10-22T13:33:18.994Z",
      "role": "workflow:owner",
      "workflowId": "qYWOtuDtyrAqjjoI",
      "projectId": "7loRaf8YeINnKgtz"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-22T14:01:23.799Z",
  "versionId": "21417542-662b-4bcc-89bd-e3240a26cb12"
}